//====================================================================================================
.hero {
  position: relative;
  display: grid;
  background-color: $bgColor;
  padding: toRem(80) toRem(15) toRem(60) toRem(15);
  min-height: 100vh;

  @media (min-width: $tablet) {
    grid-template-columns: auto 1fr auto;
  }

  @media (max-width: $tablet) {
    padding: toRem(80) toRem(15) toRem(30) toRem(15);
  }

  // .hero__image
  &__image-ibg {
    position: relative;
    @include adaptiveValue("width", 412, 200, 0, $containerWidth, 991.98);
    border-radius: toRem(24);
    overflow: hidden;

    img {
      object-position: top;
    }

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
    }

    &--left {
      &::after {
        background-image: linear-gradient(
          -35deg,
          #131f4b 4.15%,
          rgba(19, 31, 75, 0) 43.25%
        );
      }
    }

    &--right {
      &::after {
        background-image: linear-gradient(
          35deg,
          #131f4b 4.15%,
          rgba(19, 31, 75, 0) 43.25%
        );
      }
    }

    @media (max-width: $tablet) {
      display: none;
    }
  }

  //  .hero__body
  &__body {
    display: flex;
    flex-direction: column;
    row-gap: toRem(30);
    @include adaptiveValue("padding-left", 83, 15, 0, $containerWidth, 991.98);
    @include adaptiveValue("padding-right", 83, 15, 0, $containerWidth, 991.98);
  }

  // .hero__content
  &__content {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__main {
    display: grid;
    gap: toRem(24);
    &:not(:last-child) {
      margin-bottom: toRem(48);
    }
  }

  // .hero__block-header
  &__block-header {
    max-width: toRem(670);

    .block-header__title {
      transition-delay: 0.3s;
    }
  }

  &__done {
    justify-content: center;
    align-items: center;
  }

  &__advantages {
  }
}

.items-hero {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: toRem(52);

  // .items-hero__item
  &__item {
    position: relative;
    color: $greyColor;
    font-weight: 700;
    line-height: 1.4;

    &:not(:last-child) {
      &::after {
        position: absolute;
        content: "";
        right: toRem(-30);
        top: calc(50% - toRem(2));
        width: toRem(5);
        height: toRem(5);
        border-radius: 50%;
        background-color: $greyColor;
      }
    }
  }
}

.advantages-hero {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  @include adaptiveValue("column-gap", 64, 20);
  row-gap: toRem(15);
  @media (max-width: em(1900)) {
    grid-template-columns: repeat(2, auto);
  }
  @media (max-width: $mobileSmall) {
    grid-template-columns: auto;
  }

  // .advantages-hero__item
  &__item {
    display: flex;
    align-items: center;
    gap: toRem(16);
    position: relative;

    @media (min-width: em(1920)) {
      &:not(:last-child) {
        &::after {
          content: "";
          position: absolute;
          @include adaptiveValue("right", -32, -20);
          top: 0;
          height: 100%;
          width: toRem(1);
          background: linear-gradient(
            0deg,
            rgba(20, 34, 87, 0) 0%,
            rgba(79, 102, 183, 1) 50%,
            rgba(20, 34, 87, 0) 100%
          );
        }
      }
    }
  }

  // .advantages-hero__icon
  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    flex: 0 0 toRem(48);
    height: toRem(48);
    padding: toRem(5);
    background-color: $bgColorSemi;
  }

  // .advantages-hero__text
  &__text {
    color: #fff;
    font-weight: 600;
    line-height: 1.33;
  }
}

.decor-hero {
  // .decor-hero__item
  &__item {
    @include adaptiveValue("width", 420, 200, 0, $containerWidth, 991.98);
    position: absolute;
    bottom: 0;
    height: toRem(50);
    background-color: #fff;
    &:first-child {
      left: 0;
      border-radius: 0 toRem(10) 0 0;
      &::after {
        content: "";
        position: absolute;
        right: 0;
        bottom: 0;
        width: 0;
        height: 0;
        transform: translate(calc(100% - toRem(6)), toRem(0.5));
        border-top: toRem(50) solid transparent;
        border-left: toRem(70) solid #fff;
        border-bottom: 0px solid transparent;
      }
    }
    &:last-child {
      right: 0;
      border-radius: toRem(10) 0 0 0;
      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 0;
        transform: translate(calc(-100% + toRem(6)), toRem(0.5));
        border-top: toRem(50) solid transparent;
        border-right: toRem(70) solid #fff;
        border-bottom: 0px solid transparent;
      }
    }
  }
  @media (max-width: $tablet) {
    display: none;
  }
}

//====================================================================================================
//  About section
//====================================================================================================

.about {
  @include adaptiveValue("padding-top", 123, 40);
  @include adaptiveValue("padding-bottom", 64, 40);

  // .about__container
  &__container {
    display: grid;
    row-gap: toRem(30);
    grid-template-columns: repeat(2, 1fr);

    @media (max-width: $tablet) {
      grid-template-columns: auto;
    }
  }

  // .about__body
  &__body {
    @include adaptiveValue("padding-top", 100, 30, 2, $containerWidth, 991.98);
    @media (min-width: $tablet) {
      max-width: toRem(580);
      padding-right: toRem(20);
    }
  }

  // .about__block-header
  &__block-header {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 54, 30);
    }
  }

  // .about__items
  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: toRem(32);
    @include adaptiveValue("gap", 32, 15);

    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 56, 30);
    }

    @media (max-width: em(540)) {
      grid-template-columns: auto;
    }
  }

  // .about__item
  &__item {
    background: url("@img/about/icon-check.svg") 0 em(10, 20) no-repeat;
    padding-left: toRem(28);
    @include adaptiveValue("font-size", 20, 16);
    font-weight: 700;
    color: $bgColorSemi;
    line-height: 140%;

    opacity: 0;
    transform: translate(0px, -10%);
    transition:
      translate 0.3s,
      opacity 0.3s;

    ._watcher-view & {
      opacity: 1;
      transform: translate(0, 0);

      @for $i from 1 through 6 {
        &:nth-child(#{$i}) {
          $delay: $i * 0.15s - 0.15;
          transition-delay: $delay;
        }
      }
    }
  }

  // .about__info
  &__info {
    border-radius: toRem(24);
    background: $bgColorLight;
    padding: toRem(12) toRem(32);
    line-height: 155.55%;
    color: #fff;

    a {
      font-size: toRem(20);
      font-weight: 600;
      text-decoration: underline;
    }

    @media (min-width: $tablet) {
      max-width: toRem(450);
    }
  }

  // .about__image
  &__image {
    img {
      max-width: 100%;
    }
  }
}

//====================================================================================================
//  Services section
//====================================================================================================

.services {
  @include adaptiveValue("margin-top", 120, 40);
  @include adaptiveValue("margin-bottom", 140, 40);

  // .services__container
  &__container {
  }

  // .services__block-header
  &__block-header {
    max-width: toRem(560);
    margin: 0 auto;

    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 60, 30);
    }
  }

  // .services__items
  &__items {
    display: grid;
    grid-template-columns: auto;

    @media (min-width: em(670)) {
      grid-template-columns: repeat(auto-fit, minmax(toRem(320), 1fr));
    }
  }

  // .services__item
  &__item {
  }
}

.item-service {
  @include adaptiveValue("padding", 32, 15);
  border-radius: toRem(24);

  @media (max-width: $mobileSmall) {
    text-align: center;
  }

  // .item-service__icon
  &__icon {
    width: toRem(64);
    height: toRem(64);
    border-radius: toRem(20);
    background-color: $bgColor;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    img {
      max-width: 100%;
    }

    &:not(:last-child) {
      margin-bottom: toRem(16);
    }
  }

  // .item-service__title
  &__title {
    color: $darkColor;
    font-size: toRem(24);
    font-weight: 700;
    line-height: 133.33%;

    &:not(:last-child) {
      margin-bottom: toRem(12);
    }
  }

  // .item-service__text
  &__text {
    font-size: toRem(18);
    line-height: 155.55%;
    &:not(:last-child) {
      margin-bottom: toRem(12);
    }
  }

  // .item-service--blue
  &--blue {
    color: #fff;
    text-align: center;
    background-color: $bgColorLight;

    @media (max-width: em(669.98)) {
      padding: toRem(20);
    }

    .item-service__title {
      color: inherit;
    }
  }
}

//====================================================================================================
// Advantages section
//====================================================================================================

.advantages {
  @include adaptiveValue("padding-left", 60, 15, 2, $containerWidth, 991.98);
  @include adaptiveValue("padding-right", 60, 15, 2, $containerWidth, 991.98);

  // .advantages__body
  &__body {
    position: relative;

    background-color: $bgColor;
    @include adaptiveValue("padding-top", 64, 40);
    @include adaptiveValue("padding-bottom", 64, 40);

    @media (min-width: $tablet) {
      padding-left: toRem(70);
      padding-right: toRem(70);
      border-radius: toRem(24);

      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        width: toRem(45);
        height: 73.295%;
        max-height: toRem(645);
        transform: translate(0px, -50%);
        background: url("@img/advantages/decoration.svg") left / auto 100%
          no-repeat;
      }

      &::before {
        left: 0;
      }

      &::after {
        right: 0;
        transform: translate(0px, -50%) rotate(180deg);
      }
    }
  }

  // .advantages__container
  &__container {
  }

  // .advantages__block-header
  &__block-header {
    position: relative;

    @include adaptiveValue("padding-bottom", 120, 30);

    &::after {
      content: "";
      position: absolute;
      left: 0;
      height: toRem(1);
      width: 100%;
      background: linear-gradient(
        90deg,
        rgba(20, 34, 87, 0) 0%,
        rgba(79, 102, 183, 1) 50%,
        rgba(20, 34, 87, 0) 100%
      );
      @include adaptiveValue("bottom", 60, 15);
    }
  }

  // .advantages__items
  &__items {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;
    column-gap: toRem(20);
    @include adaptiveValue("row-gap", 60, 25);

    @media (max-width: $tablet) {
      grid-template-columns: auto;
    }
  }

  // .advantages__item
  &__item {
    max-width: toRem(630);
  }
}

.advantages-item {
  display: flex;
  @include adaptiveValue("gap", 32, 15);

  // .advantages-item__icon
  &__icon {
    flex: 0 0 toRem(100);
    height: toRem(100);
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      max-width: 100%;
    }
  }

  // .advantages-item__body
  &__body {
  }

  // .advantages-item__title
  &__title {
    font-weight: 700;
    font-size: toRem(24);
    line-height: 133.33%;
    color: #fff;

    &:not(:last-child) {
      margin-bottom: toRem(12);
    }
  }

  // .advantages-item__text
  &__text {
  }
}

//====================================================================================================
// How section
//====================================================================================================

.how {
  @include adaptiveValue("padding-top", 160, 30);
  @include adaptiveValue("padding-bottom", 155, 30);
  // .how__container
  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @media (max-width: $tablet) {
      grid-template-columns: auto;
      gap: toRem(30);
    }
  }

  // .how__image
  &__image {
    img {
      max-width: 100%;
      transform: translate(-10%, 0);
    }

    @media (max-width: $tablet) {
      order: 2;

      img {
        transform: translate(0, 0);
      }
    }
  }

  // .how__content
  &__content {
    @media (max-width: $tablet) {
      order: 1;
    }
  }

  // .how__block-header
  &__block-header {
    max-width: toRem(400);

    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 60, 30);
    }
  }

  // .how__list
  &__list {
  }
}

.list-how {
  display: grid;
  @include adaptiveValue("gap", 50, 20);
  @extend %listCounter;

  // .list-how__item
  &__item {
    @include adaptiveValue("padding-left", 70, 40);
    display: grid;
    grid-template-columns: toRem(170) auto;
    gap: toRem(35);

    &::before {
      @include adaptiveValue("font-size", 52, 30);
      font-weight: 700;
      color: $greyColor;
    }

    @media (max-width: em(520)) {
      grid-template-columns: auto;
      gap: toRem(5);
    }
  }

  // .list-how__title
  &__title {
    @include adaptiveValue("font-size", 24, 18);
    color: $darkColor;
    line-height: 133.33%;
    font-weight: 700;
  }

  // .list-how__text
  &__text {
  }
}

//========================================================================================================================================================

.reviews {
  @include adaptiveValue("padding-top", 130, 40);
  @include adaptiveValue("padding-bottom", 130, 40);

  // .reviews__container
  &__container {
    max-width: toRem(1160);
  }

  &__body {
    position: relative;

    @media (min-width: em(600)) {
      padding: 0 toRem(72);
    }
  }

  &__bullets {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: toRem(12);
    row-gap: toRem(3);

    .swiper-pagination-bullet {
      transition: all 0.3s;
      flex: 0 0 toRem(12);
      height: toRem(12);
      border-radius: 50%;
      background: #e3e5f0;
    }

    .swiper-pagination-bullet-active {
      background: $bgColorLight;
      flex: 0 0 toRem(40);
      border-radius: toRem(10);
    }
  }

  // .reviews__block-header
  &__block-header {
    max-width: toRem(650);
    margin: 0 auto;

    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 90, 30);
    }
  }

  // .reviews__slider
  &__slider {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 90, 30);
    }
  }

  // .reviews__wrapper
  &__wrapper {
  }

  // .reviews__slide
  &__slide {
  }

  // .reviews__arrow
  &__arrow {
    position: absolute;
    top: 50%;
    width: toRem(48);
    height: toRem(48);
    border-radius: 50%;
    transform: translate(0px, -50%);
    background: $bgColorLight url("@img/icons/arrow.svg") center no-repeat;
    // .reviews__arrow--left
    &--left {
      left: 0;
    }

    // .reviews__arrow--right
    &--right {
      right: 0;
      transform: translate(0px, -50%) rotate(-180deg);
    }

    &.swiper-button-disabled {
      background: #e3e5f0 url("@img/icons/arrow.svg") center no-repeat;
      pointer-events: none;
      cursor: default;
    }

    @media (max-width: em(600)) {
      display: none;
    }
  }
}

.slide-reviews {
  text-align: center;

  // .slide-reviews__logo
  &__logo {
    position: relative;
    text-align: center;
    padding-bottom: toRem(25);

    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 40, 25);
    }

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background: linear-gradient(
        90deg,
        rgba(20, 34, 87, 0) 0%,
        $greyColor 50%,
        rgba(20, 34, 87, 0) 100%
      );
    }
  }

  // .slide-reviews__text
  &__text {
    max-width: toRem(730);
    display: inline-block;

    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 40, 20);
    }
  }

  // .slide-reviews__author
  &__author {
    text-align: left;
    display: inline-flex;
    gap: toRem(32);
  }

  // .slide-reviews__avatar
  &__avatar {
    flex: 0 0 toRem(76);
    height: toRem(76);
    border-radius: 50%;

    img {
      max-width: 100%;
    }
  }

  // .slide-reviews__body
  &__body {
  }

  // .slide-reviews__name
  &__name {
    @include adaptiveValue("font-size", 24, 18);
    font-weight: 700;
    line-height: 133.33%;
    color: $darkColor;
  }

  // .slide-reviews__rating
  &__rating {
    .rating__value {
      display: none;
    }
  }
}
